/* &display=swap&subset=cyrillic-ext */

/* Connect Fonts with Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* Connect Fonts use local files */

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* ------------- */

body {
	font-size: 21px;
	background-color:#c6c4c4;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	color: #4B4B4B
}

.header__container,
.footer__container {
  max-width: 1200px;
	margin: 30px auto 50px;
}

.header__block,
.footer__block {
  background-color:#939090;
  box-shadow: 5px 5px 10px 5px #242424, inset 5px 5px 10px 3px #6495ed;
  border-radius: 40px;
  padding: 20px;
}

.footer__block {
	padding: 20px 20px 0px;
}

.header__title {
	font-family: 'Proxima Nova Lt';
	text-align: center;
	color: #ff4444;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 42px;
	text-shadow: 3px 3px 6px #fff;
	margin: 10px auto 35px;
}

.menu,
.footer-menu {
	display: block;
}

.menu__list,
.footer-menu__list {
	display: block;
	text-align: center;
}

.list__item,
.footer-menu__list-item {
	display: inline-block;
	font-size: 20px;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
	text-transform: uppercase;
	margin: 10px 15px;
	padding: 10px;
}

.list__link,
.footer-menu__list-link {
	display: inline-block;
	color: #ff4444;
	text-shadow: 2px 2px 5px #fff;
	box-shadow: 2px 2px 4px 1px #fff;
	text-decoration: underline;
	padding: 5px 10px;
	border-radius: 20px;
}

.list__link:hover,
.footer-menu__list-link:hover {
	color:#6e95de;
	text-decoration: underline;
}

.footer__img {
	margin: -60px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
	width: 60px;
}

.about {
  background: #f5f5f5;
  overflow: auto;
}

.about__container {
  background-image: url("../img/task_1/about-bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  max-width: 1020px;
  margin: 0px auto;
  background-color: #fff;
}

.about__wrapper {
  padding: 100px 87px 0px;
}

.about__wrapper-bg {
  min-height: 600px;
}

.about__wrapper-row {
  font-size: 0;
  margin: 0px 0px 33px 0px;
}

.about__wrapper-row-img {
  margin: 0px 16px 0px 0px;
}

.about__wrapper-row-title {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 227%;
}

.about__subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  margin: 0px 0px 36px 0px;
	color: #02133C;
}

.about__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  margin: 0px 0px 54px 0px;
  display: inline-block;
  padding-bottom: 260px;
}

.about__img {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about__img-wrapper {
  margin: -519px 0px 0px 0px;
  text-align: center;
  margin: -300px auto 108px;
}

.about__wrapper-row-title, .about__subtitle {
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(107, 107, 107, 0.3);
}

.video {
  background-image: url("../img/video/video-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  max-height: 498px;
  overflow: auto;
}

.video__container {
  max-width: 1020px;
  margin: 0px auto;
}

.video__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #ffffff;
  max-width: 411px;
  padding: 112px 0px 0px 0px;
  margin-left: auto;
	text-shadow: 3px 3px 10px #201c1e, -2px 1px 15px #1a1819;
}

.video__image-link {
  display: inline-block;
  margin: 0px 0px 120px 610px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.7s ease-in-out;
  -o-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
}

.video__image-link:hover {
  width: 140px;
  height: 140px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(247, 103, 127, 0.3);
}

.video__img {
  width: 140px;
  height: 140px;
}

.services {
  position: relative;
  background: #f5f5f5;
  overflow: auto;
}

.services::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/services-bg.png");
  background-repeat: no-repeat;
  width: 641px;
  height: 450px;
  z-index: 0;
}

.services::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../img/services-bg-bottom.png");
  background-repeat: no-repeat;
  width: 642px;
  height: 450px;
  z-index: 0;
  opacity: 0.55;
}

.services__container {
  max-width: 1020px;
  margin: 0px auto;
}

.services__wrapper-row {
  padding: 110px 0px 0px 0px;
  margin: 0px 0px 33px 0px;
}

.services__wrapper-row-img {
  margin: 0px 16px 0px 0px;
	padding: 3px 0px 0px 0px;
}

.services__wrapper-row-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 227%;
  margin: 0px 0px 33px -11px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(107, 107,  
	107, 0.3);
}

.services__wrapper-row-subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #02133c;
  margin: 0px 0px 78px 0px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(107, 107,  
	107, 0.3);
}

.services__card-row .services__card {
  margin-right: 24px;
}

.services__card-row .services__card:nth-child(3n + 3) {
  margin-right: 0px;
}

.services__button-wrapper {
  display: inline-block;
  max-width: 450px;
  word-break: break-all;
  -webkit-background-size: 200% auto;
  background-size: 200% auto;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0,   
	0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: -webkit-linear-gradient(329deg, #910909 0%, #990000 80%, 
	#ff0000 100%);
  background-image: -o-linear-gradient(329deg, #910909 0%, #990000 80%,   
	#ff0000 100%);
  background-image: linear-gradient(121deg, #910909 0%, #990000 80%, #ff0000 
	100%);
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.services__button-wrapper:hover {
  background-position: right center;
}

.services__button-link {
  display: inline-block;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 30px 12px;
}

.services__button-img {
  vertical-align: middle;
}

.services__card-row {
  font-size: 0;
  text-align: center;
  margin: 0px auto 133px;
}

.services__button-wrapper-position {
  text-align: center;
  margin: 0px 0px 122px 0px;
}

.card {
  position: relative;
  display: inline-block;
  max-width: 324px;
  min-height: 340px;
  background: #ffffff;
  text-align: center;
  margin: 0px 12px 12px 0px;
  z-index: 20;
  vertical-align: top;
  -webkit-transition: -webkit-filter 0.7s ease-in-out;
  transition: -webkit-filter 0.7s ease-in-out;
  -o-transition: filter 0.7s ease-in-out;
  transition: filter 0.7s ease-in-out;
  transition: filter 0.7s ease-in-out, -webkit-filter 0.7s ease-in-out;
  -webkit-filter: drop-shadow(0px 1px 1px rgba(38, 38, 38, 0.24)) drop- 
	shadow(0px 1px 2px rgba(38, 38, 38, 0.2));
  filter: drop-shadow(0px 1px 1px rgba(38, 38, 38, 0.24)) drop-shadow(0px 1px 
	2px rgba(38, 38, 38, 0.2));
}

.card:hover {
  -webkit-filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 
	24px rgba(38, 38, 38, 0.2));
}

.card__img {
  display: inline-block;
  margin: 0px 0px 33px 0px;
}

.card__wrapper {
  padding: 50px 43px 50px 44px;
}

.card__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  text-align: center;
  margin: 0px 0px 20px 0px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(107, 107,  
	107, 0.3);
}

.card__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3), 0px -2px 5px rgba(107, 107,   
	107, 0.3);
}


.faq {
  font-family: "Poppins";
  background-color: #ececec;
  overflow: auto;
}

.faq__container {
  max-width: 1039px;
  margin: 0px auto;
  padding: 19px 0px 0px 0px;
}

.faq__row .faq__subtitle ~ .faq__text:last-child {
  margin: 0px 0px 25px 0px;
}

.faq__text.faq__text_margin-bottom {
  margin: 0px 0px 25px 0px;
}

.faq__title-heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #000;
  margin: 0px 0px 26px 0px;
}

.faq__subtitle-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin: 0px 0px 55px 0px;
}

.faq__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  margin: 0px 0px 25px 0px;
}

.faq__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 162%;
  margin: 0px 0px 5px 0px;
}

.faq__subtitle-heading, .faq__title-heading, .faq__subtitle, .faq__text {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3), 0px -2px 5px rgba(107, 107, 107, 0.3);
}

.faq-list__item:last-child {
  margin: 0px 0px 25px 0px;
}

.faq__list {
	font-family: "Poppins";
}
.faq-list__item {
	list-style:lower-alpha;
	font-family: "Poppins";
}

.about-us {
  font-family: "Poppins";
  background-color: #fff;
}

.about-us__container {
  max-width: 1920px;
}

.about-us__img_padding-top {
  padding: 137px 0px 0px 0px;
}

.about-us__row {
  max-width: 870px;
  float: left;
}

.about-us__row:nth-child(2) {
  margin: 0px 0px 0px 46px;
}

.about-us__row:nth-child(2) .about-us__img {
  display: inline-block;
  margin: 0px 0px 9px 0px;
}

.about-us__title {
  display: block;
  font-weight: 500;
  font-size: 44px;
  line-height: 132%;
  max-width: 465px;
  color: #000000;
}

.about-us__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  color: #000000;
  max-width: 436px;
  margin: 0px 0px 50px 0px;
}

.about-us__title, .about-us__text {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3), 0px -2px 5px rgba(107, 107, 107, 0.3);
}

.about-us__clearfix {

  clear: both;
}
