/* &display=swap&subset=cyrillic-ext */

/* Connect Fonts with Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600&display=swap");


/* Connect Fonts use local files */

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.woff2") format("woff2"), 
		url("../fonts/HelveticaNeue.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Black.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* ------------- */

body {
	font-size: 18px;
	background-color: rgb(213, 211, 211);
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.2;
}

.header__container,
.footer__container {
  max-width: 1200px;
	margin: 30px auto 50px;
}

.header__block,
.footer__block {
  background-color:#d8bcbc;
  box-shadow: 5px 5px 10px 5px #404040, inset 5px 5px 10px 3px #fff;
  border-radius: 40px;
  padding: 20px;
}

.footer__block {
	padding: 20px 20px 0px;
}

.header__title {
	font-family: "Helvetica Neue";
	text-align: center;
	color: #7da5dd;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 42px;
	text-shadow: 3px 3px 6px #fff;
	margin: 10px auto 35px;
}

.menu,
.footer-menu {
	display: block;
}

.menu__list,
.footer-menu__list {
	display: block;
	text-align: center;
}

.list__item,
.footer-menu__list-item {
	display: inline-block;
	font-size: 20px;
	font-family: "Helvetica Neue";
	font-weight: 400;
	text-transform: uppercase;
	margin: 10px 10px;
	padding: 5px;
}

.list__link,
.footer-menu__list-link {
	display: inline-block;
	color: #7da5dd;
	text-shadow: 2px 2px 5px #fff;
	box-shadow: 2px 2px 4px 1px #404040;
	text-decoration: underline;
	padding: 5px 10px;
	border-radius: 20px;
}

.list__link:hover,
.footer-menu__list-link:hover {
	color:rgb(236, 129, 154);
	text-decoration: underline;
}

.footer__img{
	margin: -50px 10px 30px;
	width: 60px;
}